#AdDesigner {
	margin: 5px 25px;
}

.adContainer {
	text-align: center;
	min-width: 200px;
	width: fit-content;
	min-height: 125px;
	padding: 10px;
	box-shadow: 0 0 10px black;
}

.lightTheme {
	border: 2px solid #222;
	background-color: white;
	color: #000;
}

.darkTheme {
	border: 2px solid #fff;
	background-color: #222;
	color: #fff;
}

.fontSize {
	font-weight: normal;
	margin-right: 15px;
}

h3 {
	font-family: "Caveat", cursive;
	margin: 15px;
}
