.adContainer {
	border: 2px solid black;
	text-align: center;
	min-width: 250px;
	width: fit-content;
	min-height: 125px;
	padding: 10px;
	box-shadow: 0 0 10px black;
}

.lightTheme {
	background-color: white;
	color: black;
}

.darkTheme {
	background-color: rgb(37, 37, 37);
	color: white;
}

.fontSize {
	font-weight: normal;
	margin-right: 15px;
}

button {
	border: 1px solid black;
	background-color: navy;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 5px 10px;
	margin-right: 15px;
	/* width: 100px; */
}

button:focus {
	background-color: gray;
}

h3 {
	font-family: "Caveat", cursive;
	/* font-size: 2.5rem; */
	margin: 15px;
}
