header {
	text-align: left;
	padding: 15px;
	box-shadow: 0px 2px 5px gray;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

h1 {
	font-family: "Caveat", cursive;
	font-size: 3.5rem;
	color: #0e3c7e;
	letter-spacing: 3px;
	margin: 0;
}

@media only screen and (max-width: 768px) {
	header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
