@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
	font-weight: bold;
}

h2 {
	font-family: "Caveat", cursive;
	font-size: 3rem;
	margin: 25px 0;
}

.BodyComponents {
	display: flex;
	flex-direction: row;
}

button {
	border: 1px solid black;
	background-color: #0e3c7e;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 5px 10px;
	margin-right: 15px;
}

button:focus {
	background-color: #1e60a9;
}

/* button:disabled {
	background-color: gray;
} */

.disabled {
	pointer-events: none;
	background-color: gray;
}
